.clients-header {
    background-color: #F6F7FB;
    padding-top: 7em;
    padding-bottom: 3em;

    @media (min-width: 992px) {
        padding-top: 11em;
        padding-bottom: 10em;
    }

    h1 {
        color: #232C61;
        font-weight: 700;
        font-size: 1.9rem;

        @media (min-width: 992px) {
            font-size: 2.4rem;

        }
    }

    p {
        color: #404041;
        font-size: 1.2rem;

        @media (min-width: 992px) {
            font-size: 1.6rem;

        }
    }
}

.clients-page_section.nav-item a {
    height: 170px !important;
    border-radius: 0 !important;
    padding-top: 35px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a#left-tabs-example-tab-banca {
    background-color: #173EA3;
}

a#left-tabs-example-tab-salud {
    background-color: #69B8EF;
}

a#left-tabs-example-tab-gobierno {
    background-color: #5826E7;
}

a#left-tabs-example-tab-retail {
    background-color: #F48700;
}

a#left-tabs-example-tab-telcos {
    background-color: #1B8CF4;
}

a#left-tabs-example-tab-utilities {
    background-color: #86BE55;
}


.white {
    color: #fff !important;
}

// .clients.nav-link.active {
//     -webkit-transition: 0.2s ease-in-out;
//     transition: 0.2s ease-in-out;
//     height: 200px !important;
//     margin-top: -20px;
// }

.clients-page_section-name {
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
}

.contentLogo {
    width: 20% !important;
    display: inline-block;
    padding: 10px;
}

.clients-page_section {
    height: 210px;
    padding-top: 50px;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

}

.min230 {
    min-height: 230px;
}

.clients-page_section:hover {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    height: 230px !important;
    margin-top: -10px;
}

.h130 {
    height: 110px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90% !important;
    margin: 0 auto;
    margin-top: 20px !important;
    margin-bottom: 0px !important;

    h4 {
        width: 200px;
    }
}