.contact-section {
    position: relative;
    &_shape1 {
        display: none;
    
        @media (min-width: 992px) {
            display: block;
            max-width: 700px;
            width: 40%;
            height: 95vh;
            max-width: 580px;
            position: absolute;
            left: 0;
            top: 0;
        }
    
        .left {
            width: 100%;
            height: 100%;
            position: relative !important;
            object-fit: inherit; // Optional
        }
    }

    &_shape2 {
        display: none;
    
        @media (min-width: 992px) {
            display: block;
            max-width: 700px;
            width: 20%;
            height: 415px;
            max-width: 580px;
            position: absolute;
            right: 0;
            top: 20%;
        }
    
        .right {
            width: 100%;
            height: 100%;
            position: relative !important;
            object-fit: inherit; // Optional
        }
    }
}

.contact-margin {
    margin-top: 8em;
}


                            /* All HubSpot Forms
       ========================================================================== */
       .error {
        font-size: 0.9rem !important;
        line-height: 2rem !important;
        text-align: left !important;
    }

    /* Form Field (selector for form field wrapper) */
    .hs-form .hs-form-field {}

    /* Descriptions (targets class applied to Help Text divs) */
    .hs-form .hs-field-desc {}

    /* Labels (selects field labels and error messages) */
    .hs-form label {
        color: #b8b8b9;
        font-size: 0.875rem;
        margin-top: 20px;
        width: 100%;
        display: none;
    }

    .hs-form .hs-form-field>label {}

    /* Inputs (selectors for all inputs)  */
    .hs-form input[type="text"],
    .hs-form input[type="password"],
    .hs-form input[type="datetime"],
    .hs-form input[type="datetime-local"],
    .hs-form input[type="date"],
    .hs-form input[type="month"],
    .hs-form input[type="time"],
    .hs-form input[type="week"],
    .hs-form input[type="number"],
    .hs-form input[type="email"],
    .hs-form input[type="url"],
    .hs-form input[type="search"],
    .hs-form input[type="tel"],
    .hs-form input[type="color"],
    .hs-form input[type="file"],
    .hs-form textarea,
    .hs-form select {
        border: 1px solid #e2e2e2;
        height: 41px;
        margin-top: 10px;
        box-sizing: border-box;
        border-radius: 2px;
        padding: .5em;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        color: #000 !important;
    }

    /* Inputs in focus (selectors for all inputs when clicked)  */
    .hs-form input[type="text"]:focus,
    .hs-form input[type="password"]:focus,
    .hs-form input[type="datetime"]:focus,
    .hs-form input[type="datetime-local"]:focus,
    .hs-form input[type="date"]:focus,
    .hs-form input[type="month"]:focus,
    .hs-form input[type="time"]:focus,
    .hs-form input[type="week"]:focus,
    .hs-form input[type="number"]:focus,
    .hs-form input[type="email"]:focus,
    .hs-form input[type="url"]:focus,
    .hs-form input[type="search"]:focus,
    .hs-form input[type="tel"]:focus,
    .hs-form input[type="color"]:focus,
    .hs-form input[type="file"]:focus,
    .hs-form textarea:focus,
    .hs-form select:focus {}

    /* Multi-line inputs (selectors to target multi-line fields */
    .hs-form textarea {
        overflow: auto;
        color: inherit;
        font: inherit;
        min-height: 20vh;
    }

    .hs-form textarea:focus {}

    /* Dropdowns (selectors for dropdowns) */
    .hs-form select {}

    .hs-form select:focus {}

    /* Multi-select (selectors for multi-select fields) */
    .hs-form form.hs-form .hs-form-field ul.inputs-list {}

    .hs-form form.hs-form .hs-form-field ul.inputs-list li input {}

    .hs-form input[type="radio"] {}

    .hs-form input[type="checkbox"] {}

    /* Required (selectors for fields, when they do not pass validation) */
    .hs-form input:focus:required:invalid,
    .hs-form textarea:focus:required:invalid,
    .hs-form select:focus:required:invalid {}

    .hs-form input:focus:required:invalid:focus,
    .hs-form textarea:focus:required:invalid:focus,
    .hs-form select:focus:required:invalid:focus {}

    /* Error message (selector for validation messages) */
    .hs-form .hs-error-msgs label {}

    /* Placeholder Text (styles the placeholder attribute text) */
    ::-webkit-input-placeholder {
        /* Webkit Browsers */
    }

    :-moz-placeholder {
        /* Firefox 18- */
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
    }

    :-ms-input-placeholder {
        /* IE10 */
    }

    /* Multi Column Form (selectors for fieldsets and field wrappers) 
========================================================================== */

    .hs-form .hs-form fieldset.form-columns-1 {}

    .hs-form .hs-form fieldset.form-columns-1 .hs-form-field {}

    .hs-form .hs-form fieldset.form-columns-2 {}

    .hs-form .hs-form fieldset.form-columns-2 .hs-form-field {}

    .hs-form .hs-form fieldset.form-columns-3 {}

    .hs-form .hs-form fieldset.form-columns-3 .hs-form-field {}

    /* Submit buttons (selectors for all non-CTA buttons) 
========================================================================== */

    body .hs-button.primary,
    body input[type="submit"],
    body input[type="button"] {
        background: transparent linear-gradient(80deg, #22619F 0%, #3888FC 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 6px #00000029;
        padding: 0.5rem 1.9rem;
        border-radius: 57px;
        border: 0;
        color: #fff;
        font-size: 1.1rem;
        text-transform: uppercase;
        min-width: 100%;
        min-height: 54px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    body .hs-button.primary:hover,
    body input[type="submit"]:hover,
    body input[type="button"]:hover {}

    body .hs-button.primary:focus,
    body input[type="submit"]:focus,
    body input[type="button"]:focus {}
