.footer-section {
    background-color: #232C61;
    padding: 5em;
    &_title {
        color: #fff;
        font-weight: 700;
        margin-bottom: 0;
        h6 {
           
        }
        
    }
    hr {
        width: 30px;
        background-color: #2F9FEE;
        height: 3px !important;
        opacity: 1;
        margin-top: 1em;
        margin-bottom: 1.2em;
    }
    &_list .list-group-item {
        a {
            color: #fff;
            text-decoration: none;
        }
        background: none;
        border: 0;
        color: #fff;
        padding: 0.1rem 0rem;
    }
}

.social {
    margin-right: 20px !important;
}