.header-home {
    background-color: #F6F7FB;
    padding-top: 4.5em;
    padding-bottom: 5em;
    height: 560px;
    margin-bottom: 11em;
    position: relative;

    @media (min-width: 992px) {
        margin-bottom: 5.1em;
        padding-top: 10em;
        padding-bottom: 10em;
        height: 665px;
        background-color: #fff;
    }

    // @media (max-height: 700px) {
    //     margin-bottom: 5.1em;
    //     padding-top: 8em;
    //     padding-bottom: 10em;
    //     height: 90vh;
    // }

    &_mainNoti {
        position: absolute;
        bottom: -90px;
    }

    &_videoshape {
        position: absolute;
        width: 40%;
        height: auto;
        right: 0;
        top: 0;
    }

    &_title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #232C61;
        margin-top: .5em;

        @media (min-width: 992px) {
            margin-top: .5em;
            font-size: 2.5rem;
        }
    }

    &_product {
        background-color: #ECEBF0;
        color: #404041;
        padding: .5em 1.1em;
        border-radius: 50px;
        font-size: .9rem;
        font-weight: 600;
        margin-top: 1.7em;
        display: inline-block;

        @media (min-width: 992px) {
            margin-top: .5em;
        }
    }

    &_parraf {
        color: #404041;
        font-size: 1rem;

        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
    }

    &_demobutton {
        border: 0;
        color: #2F9FEE;
        border: #2F9FEE 2px solid;
        background-color: transparent;
        border-radius: 10px;
        padding: .45em 1.9em;
        font-size: 1rem;

        @media (min-width: 992px) {
            font-size: 1.2rem;
            margin-top: .5rem;
            font-weight: 600;
        }
    }

    &_shape1 {
        position: absolute;
        left: 0;
        width: 7%;
        top: 75%;

        @media (min-width: 1400px) {
            top: 55%;
        }
    }

    &_shape2 {
        position: absolute;
        width: 15%;
        left: 0;
        top: 30%;

        @media (min-width: 1400px) {
            width: 13%;
            top: 31%;
        }
    }

    &_shape3 {
        position: absolute;
        right: 23%;
        z-index: 2;
        max-width: 105px;
    }

    &_text {
        text-align: center;
        color: #404041;
        margin-top: 16em;

        @media (min-width: 992px) {
            margin-top: 2em;

            h3 {
                font-size: 2rem;
            }

        }


        b {
            color: #232C61;
            font-weight: 700;
        }
    }
}

.image-container {
    position: absolute;
    width: 373px;
    height: 638px;
    right: -4px;
    bottom: -280px;
    z-index: 0;


    @media (min-width: 992px) {
        display: block;
        width: 700px;
        height: 880px;
        max-width: 700px;
        position: absolute;
        right: 0;
        top: -10px;
    }

    @media (min-width: 1400px) {
        width: 800px;
        height: 1000px;
    }

    .image {
        width: 100%;
        height: 100%;
        position: relative !important;
        object-fit: inherit; // Optional
    }
}



.market-section {
    margin-bottom: 3em;
    margin-top: 3em;

    @media (min-width: 992px) {
        margin-bottom: 5em;
        margin-top: 5em;
        padding-left: 10em !important;
        padding-right: 10em !important;
    }

    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #F6F7FB;

    &_maintitle {
        h3 {
            color: #232C61;
            font-size: 1.8rem;
            margin-bottom: 2em;
        }
    }

    &_div {
        text-align: center;
        margin-bottom: 1.5em;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    &_title {
        color: #404041;
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: 2px;
        @media (min-width: 992px) {
            font-size: 1.35rem;

        }
    }

    &_parraf {
        color: #404041;
        font-size: .75em;

        @media (min-width: 992px) {
            font-size: 1.1rem;

        }
    }

    &_arrow {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 35px;
        width: 60px;
        padding-top: 15px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    }
}

.solutions-top {
    margin-bottom: 5em;
}

.solutions-section {
    margin-top: 2em;
    background-color: #232C61;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 1em;

    @media (min-width: 992px) {
        background-color: #F6F7FB;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 3em;

    }

    &_maintitle {
        h3 {
            color: #132A67;
            font-size: 1.9rem;
            margin-bottom: 1.5em;
        }
    }

    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
    }

    &_div {
        text-align: center;

        &-img {
            margin-top: 1em;
            margin-bottom: 20px;
            margin-top: -30%;

            @media (min-width: 992px) {
                margin-top: -15%;
            }
        }
    }

    &_title {
        color: #fff;
        font-weight: 600;
        font-size: .9rem;

        @media (min-width: 992px) {
            font-size: 1.3rem;
            color: #232C61;
        }
    }
}

.solutions-tabs {
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
        height: 675px;
        border-bottom-left-radius: 90px;
        border-bottom-right-radius: 90px;
    }

    z-index: 1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #232C61;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 3em;


    &_title {
        margin-bottom: .5em;
        color: #fff;
        text-align: center;
        font-size: 1.3rem !important;
        @media (min-width: 992px) {
            margin-bottom: 2em;
            font-size: 1.9rem;
        }
        b {
            color: #2F9FEE;
        }
    }

    &_content {
        margin-top: 2em !important;

        &-nav {
            color: #9195b0 !important;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            cursor: pointer;
        }

        &-title {
            @media (min-width: 992px) {
                padding-left: 2em !important;
            }

            h2 {
                margin-top: 1em;
                color: #404041;
                font-weight: 400;
                font-size: 1em;

                @media (min-width: 992px) {
                    font-size: 1.4em;
                    margin-top: 2.5em;
                    color: #fff;
                }

                b {
                    @media (min-width: 992px) {
                        color: #2F9FEE;
                        font-weight: 600;
                        font-size: 1.7rem
                    }

                    color: #2F9FEE;
                    font-weight: 500;
                }
            }
        }
    }
}

.solutions-tabs_content-nav.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='%232F9FEE' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
    width: 200px;
    height: 200px;
}

.bi-caret-right-fill {
    color: #29336F;
}

.solutions-accordion {
    z-index: 1;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 3em;

    &_title {
        margin-bottom: 2em;
        color: #fff;
        text-align: center;

        b {
            color: #2F9FEE;
        }
    }

    &_content {
        margin-top: 2em !important;

        &-nav {
            color: #9195b0 !important;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            cursor: pointer;
        }

        &-title {
            h2 {
                margin-top: 2.5em;
                color: #fff;
                font-weight: 200;
                font-size: 1.7rem;

                b {
                    color: #2F9FEE;
                    font-weight: 500;
                    font-size: 2rem
                }
            }
        }
    }
}

.accordion {
    border: 0;
}


.solutions-accordion_content-nav.accordion-item {
    margin-bottom: 10px;
}



.accordion-item {
    border: 0 !important;
    background-color: transparent !important;
}

.solutions-accordion_content-nav.accordion-item {
    border: 0;
}

.buttonSolutions{
    background-color: #2F9FEE !important;
}


.solutions-tabs_content-nav.active {
    background-color: transparent !important;
    color: #2F9FEE !important;
    font-size: 1.3rem;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.modern-section {
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
        margin-top: 4em;
        margin-bottom: 10em;
    }

    margin-top: 3em;
    margin-bottom: 2em;

    &_maintitle {
        h3 {
            color: #404041;
            font-size: 1.7rem;

            @media (min-width: 992px) {
                font-size: 1.9rem;
            }

            b {
                color: #232C61;
            }

            @media (min-width: 992px) {
                margin-bottom: 1em;
                margin-top: 1em;
            }
        }

    }

    &_title {
        color: #2C89E1;
        font-weight: 600;
        font-size: 1.5rem;

        @media (min-width: 992px) {
            font-size: 1.6rem;

        }
    }

    &_parraf {
        font-size: .9rem;

        @media (min-width: 992px) {
            font-size: 1.1rem;

        }
    }

    &_div {
        margin-top: 2em !important;
        @media (min-width: 992px) {
            padding-right: 6em  !important;
            padding-left: 6em  !important;
        }
        &-text {
            display: flex;
            margin-bottom: 2em;
            align-items: center;
            justify-content: center;
            margin-top: 5px !important;
            text-align: center;
            @media (min-width: 992px) {
                text-align: left;
            }
            h4,
            p {
                display: block;
            }

            &-left {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: 992px) {
                    justify-content: flex-end;
                    text-align: center;

                }
            }
        }
    }

}




.grey-background {
    background-color: #F6F7FB;
    width: 100%;
    display: flex;
    height: 150px;
    margin-bottom: 2em;
    margin-top: -5em;
    z-index: -1;
}

a.dropdown-item a {
    width: 100%;
    display: block;
}