.industries-section {
    position: relative;
    background-image: url("../asset/imgs/background-ind.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 3em;
    padding-bottom: 3em;

    @media (min-width: 992px) {
        padding-top: 4em;
        padding-bottom: 4em;
    }

    &_divs {
        &-indu {
            cursor: pointer;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 15px;
            height: 190px;
            margin-bottom: 20px;

            @media (min-width: 992px) {
                margin: 1.5% !important;
                width: 30% !important;
                height: 190px;
                margin-bottom: 0px;

            }

            padding: 1.2em 1.3em !important;
            color: #fff;

            h4 {
                font-weight: 700;
                margin-top: 10px;
                font-size: 1.3rem;
            }

            p {
                margin-bottom: 0;

            }
        }

        background-size: cover;

        &-banca {
            background-color: #1945B6;
            background-image: url("../asset/imgs/banca_bk.jpg");
        }

        &-salud {
            background-color: #69B8EF;
            background-image: url("../asset/imgs/salud_bk.jpg");
        }

        &-servi {
            background-color: #D38F0A;
            background-image: url("../asset/imgs/retail_bk.jpg");
        }

        &-gob {
            background-color: #5826E7;
            background-image: url("../asset/imgs/gob_bk.jpg");
        }

        &-uti {
            background-color: #b6b6b6;
            background-image: url("../asset/imgs/utilities_bk.jpg");
        }

        &-teleco {
            background-image: url("../asset/imgs/telcos_bk.jpg");
            background-position: right;
        }
    }

    &_mainTitle {
        padding-left: 2em !important;

        h2 {
            color: #404041;
            font-size: 1.6rem;

            b {
                font-weight: 700;
                color: #232C61;
            }
        }
    }

}