@import "./home";
@import "./mobile";
@import "./debsign";
@import "./debq";
@import "./citas";
@import "./preatendedor";
@import "./encuestas";
@import "./videocall";
@import "./bancayfinanzas";
@import "./gobierno";
@import "./retail";
@import "./salud";
@import "./tabsIndus";
@import "./brands-slider";
@import "./services-slider";
@import "./review-slider";
@import "./post-slider";
@import "./level";
@import "./map";
@import "./contact";
@import "./industries";
@import "./footer";



* {
    font-family: 'Montserrat', sans-serif;
}



nav.navScroll {
    z-index: 10 !important;
    margin-top: 0 !important;
    background-color: #f6f7fb  !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

nav.navbar.navbar-expand-lg {
    background-color: #f6f7fb;
    z-index: 1;
    margin-top: 1rem;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    @media (min-width: 992px) {
        background-color: transparent;
    }
}


.brands-slider {
    margin-top: 3em;
    margin-bottom: 3em;
}

.relative {
    position: relative;
}

.reverseXs  {
    flex-flow: column-reverse;
    @media (min-width: 992px) {
        flex-flow: initial;
    }
}

.partner-section {
    position: relative;
    background-image: url("../asset/imgs/partner-background.jpg");
    background-size: cover;
    border-radius: 20px;
    padding: 1.5em 3em !important;
    margin-bottom: 5em;

    &_title {
        color: #232C61;
        font-weight: 800;
        font-size: 1.8rem;
    }

    &_parraf {
        color: #404041;
        font-size: 1.25rem;
    }

    &_btn {
        border: 0;
        box-shadow: none;
        background-color: #2F9FEE;
        color: #fff;
        border-radius: 25px;
        max-height: 45px;
        padding: .5em .8em;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &_shape-left {
        position: absolute;
        width: 70px;
        left: -3%;
        z-index: -1;
        top: -20%;
    }
}

.dropdown-menu {
    position: absolute;
    z-index: 1 !important;
    display: none;
    min-width: 10rem;
    padding: 0.7rem 0.9em !important;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
    a {
        color: #404041 !important;
        text-decoration: none !important;
        margin-left: 0 !important;
    }
    border: 0 !important;
}

.demo {
    background-color: #2F9FEE !important;
    padding: .5em 1.2em !important;
    color: #fff !important;
    border-radius: 20px;
}

.ml-auto.navbar-nav a {
    margin-left: 15px;
    font-weight: 400;
}

.banca {
    background-color: #173EA3;
}

.salud {
    background-color: #69B8EF;
}

.gobierno {
    background-color: #5826E7;
}

.retail {
    background-color: #F48700;
}