@import "./home";
@import "./brands-slider";
@import "./review-slider";
@import "./post-slider";
@import "./map";
@import "./contact";


* {
    font-family: 'Montserrat', sans-serif;
}

.demo {
    background-color: #2F9FEE;
    padding: .5em 1.2em !important;
    color: #fff !important;
    border-radius: 20px;
}

nav.navScroll {
    z-index: 10 !important;
    margin-top: 0 !important;
    background-color: #f6f7fb  !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

nav.navbar.navbar-expand-lg {
    background-color: #f6f7fb;
    z-index: 1;
    margin-top: 1rem;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    @media (min-width: 992px) {
        background-color: transparent;
    }
}


.brands-slider {
    margin-top: 3em;
    margin-bottom: 3em;
}