@import "./home";
@import "./mobile";
@import "./debsign";
@import "./debq";
@import "./citas";
@import "./preatendedor";
@import "./encuestas";
@import "./videocall";
@import "./bancayfinanzas";
@import "./gobierno";
@import "./retail";
@import "./telcos";
@import "./partner";
@import "./utilities";
@import "./clients";
@import "./salud";
@import "./tabsIndus";
@import "./brands-slider";
@import "./services-slider";
@import "./review-slider";
@import "./post-slider";
@import "./level";
@import "./map";
@import "./contact";
@import "./industries";
@import "./footer";



* {
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    overflow-x: hidden;
}


nav.navScroll {
    z-index: 10 !important;
    margin-top: 0 !important;
    background-color: #f6f7fb !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

nav.navbar.navbar-expand-lg {
    background-color: #f6f7fb;
    z-index: 5;

    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    @media (min-width: 992px) {
        background-color: transparent;
        margin-top: 1rem;
    }
}


.brands-slider {
    margin-top: 3em;
    margin-bottom: 3em;
}

.relative {
    position: relative;
}

.reverseXs {
    flex-flow: column-reverse;

    @media (min-width: 992px) {
        flex-flow: initial;
    }
}



.dropdown-menu {
    position: absolute;
    z-index: 100 !important;
    display: none;
    min-width: 10rem;
    padding: 0.7rem 0.9em !important;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;

    a {
        color: #404041 !important;
        text-decoration: none !important;
        margin-left: 0 !important;
    }

    border: 0 !important;
}

.navbar a.nav-link.active {
    color: #232C61 !important;
    font-weight: 700;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 35, 44, 97.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler-icon {
    width: 1.8em !important;
}

.navbar-toggler {
    border: 0 !important;
}

.setps-accordion_content.intern1.d-block.d-sm-none.row button {
    background-color: #2F9FEE;
    border-radius: 40px !important;
}


.setps-accordion_content.intern1.d-block.d-sm-none.row button {
    background-color: #2F9FEE !important;
    border-radius: 40px !important;
}

.inter2_button .inter2_button-step {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border: 2px solid #29336E;
    color: #29336E;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    max-width: 225px;
    margin-right: 10px;
}

.inter2_button .inter2_button-text {
    max-width: 225px;
    height: auto;
    font-size: 1em;
    color: #404041;
    text-align: left;
}

.inter2_button.accordion-header button.accordion-button.collapsed {
    background-color: #F6F7FB !important;
    border-radius: 40px !important;
    box-shadow: none;
}

.intern2 button.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.intern2 .accordion-button:not(.collapsed) {

    background-color: #e7f1ff;
    box-shadow: none;
    border-radius: 40px !important;
    background-color: #2F9FEE !important;
    padding: 1.5rem 1.25rem !important;
    text-align: left;

    .inter2_button-text {
        color: #fff !important;
    }

    .inter2_button-step {
        color: #2F9FEE;
        border: 1px solid #fff;
        background-color: #fff;

    }
}

.intern2.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.intern2 .accordion-body {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.demo {
    background-color: #2F9FEE !important;
    padding: .5em 1.2em !important;
    color: #fff !important;
    border-radius: 20px;
    text-align: center;
}



.ml-auto.navbar-nav a {
    margin-left: 15px;
    font-weight: 400;
}

.banca {
    background-color: #173EA3;
}

.salud {
    background-color: #69B8EF;
}

.gobierno {
    background-color: #5826E7;
}

.retail {
    background-color: #F48700;
}

.telcos {
    background-color: #1B8CF4;
}

.utilities {
    background-color: #86BE55;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px !important;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1000px !important;
    }
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    transform: rotate(-180deg);
}

// @media (min-width: 1400px) {
//     .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//         max-width: 1320px !important;
//     }
// }
div#basic-navbar-nav .dropdown-item:active {
    background-color: transparent !important;
}

.imagenXS {
    @media (min-width: 992px) {
        width: 100%;
    }

    width: 60%;
    margin: 0 auto;
}




@media (min-width: 1400px) {
    .mainTitles {
        margin-left: 3%;
    }

}

.imageXs {
    height: 130px;

    @media (min-width: 992px) {
        height: 145px;
    }
}

.logoDiv {
    max-width: 140px;
}