.map-section {
    position: relative;
    &_leftshape {
        position: absolute;
        left: 0;
        width: 45%;
        top: 0%;
    }
    &_rightshape {
        position: absolute;
        right: 0;
        bottom: 25%;
        width: 35%;
    }
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
    }

    margin-top: 4em;
    margin-bottom: 4em;
    padding-top: 5em;
    padding-bottom: 5em;

    &-maxMap {
        max-width: 600px !important;
        margin-top: -18%;
    }

    &_mapcontent {
        position: relative;
        &-text {
            position: absolute;
            max-width: 500px;
            text-align: right;
            bottom: 16%;
            font-size: 1.4em;
            color: #404041;
            font-weight: 400;
            padding-right: 2%;
            b {
                color: #232C61;
            }
        }
    }
}

.quntity {
    color: #2F9FEE;
    font-weight: 700;
    font-size: 2.5rem;
}

.type {
    background-color: #F6F7FB;
    padding: 0.3em 0.5em;
    border-radius: 15px;
}


.number1 {
    position: absolute;
    right: 15%;
    top: 0;
    span {
        display: block;
    }
}

.number2 {
    position: absolute;
    right: 5%;
    top: 20%;
    span {
        display: block;
    }

}

.number3 {
    position: absolute;
    right: 5%;
    top: 50%;
    span {
        display: block;
    }
}

.number4 {
    position: absolute;
    right: 15%;
    top: 80%;
    span {
        display: block;
    }
}

span.quntity span {
    display: inline-block;
}