.partner-section {
    position: relative;
    background-image: url("../asset/imgs/partner-background.jpg");
    background-size: cover;
    border-radius: 20px;
    padding: 1.5em 3em !important;
    margin-bottom: 5em;
    max-width: 90%;

    @media (min-width: 992px) {
        max-width: inherit;
    }

    &_title {
        color: #232C61;
        font-weight: 800;
        font-size: 1.3rem;

        @media (min-width: 992px) {
            font-size: 1.8rem;
        }
    }

    &_parraf {
        color: #404041;
        font-size: .9rem;

        @media (min-width: 992px) {

            font-size: 1.25rem;
        }
    }

    &_btn {
        border: 0;
        box-shadow: none;
        background-color: #2F9FEE;
        color: #fff;
        border-radius: 25px;
        max-height: 45px;
        padding: .5em .8em;
        font-weight: 700;
        font-size: 1rem;

        @media (min-width: 992px) {
            font-size: 1.1rem;
        }
    }

    &_shape-left {
        position: absolute;
        width: 70px;
        left: -3%;
        z-index: -1;
        top: -20%;
    }
}

.partners-home {
    background-color: #F6F7FB;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 660px;
    margin-bottom: 10em;
    position: relative;

    &_mainNoti {
        position: absolute;
        right: 275px;
        width: 23%;
        top: 112px;
        max-width: 330px;
        z-index: 5;
    }

    @media (min-width: 992px) {
        margin-bottom: 5.1em;
        padding-top: 8em;
        padding-bottom: 10em;
        height: 665px;
    }

    // @media (max-height: 700px) {
    //     margin-bottom: 5.1em;
    //     padding-top: 8em;
    //     padding-bottom: 10em;
    //     height: 90vh;
    // }

    &_videoshape {
        position: absolute;
        width: 40%;
        height: auto;
        right: 0;
        top: 0;
    }

    &_title {
        font-size: 1.5rem;
        font-weight: 700;
        color: #232C61;
        margin-top: 1.5em;

        @media (min-width: 992px) {
            margin-top: .9em;
            font-size: 2.6rem;
        }
    }

    &_parraf {
        color: #404041;
        font-size: 1.2rem;

        @media (min-width: 992px) {
            font-size: 1.7rem;
        }
    }

    &_demobutton {
        border: 0;
        background-color: #2F9FEE;
        color: #fff;
        border-radius: 10px;
        font-size: 1.1rem;
        padding: .5em 1.7em;
        margin-top: .8rem;

        @media (min-width: 992px) {
            font-size: 1.3rem;
            padding: .5em 1.7em;
            margin-top: .5rem;
        }
    }

    &_shape1 {
        position: absolute;
        left: 0;
        width: 7%;
        top: 75%;

        @media (min-width: 1400px) {
            top: 55%;
        }
    }

    &_shape2 {
        position: absolute;
        width: 15%;
        left: 0;
        top: 30%;

        @media (min-width: 1400px) {
            width: 13%;
            top: 31%;
        }
    }

    &_shape3 {
        position: absolute;
        right: 20%;
        z-index: 2;
        max-width: 105px;
    }

    &_text {
        text-align: center;
        color: #404041;
        margin-top: 4em;

        @media (min-width: 992px) {
            margin-top: 2em;

            h3 {
                font-size: 2rem;
            }

        }


        b {
            color: #232C61;
            font-weight: 700;
        }
    }
}

.image-container-partners {
    position: absolute;
    width: 385px;
    height: 625px;
    right: 0;
    bottom: -185px;
    z-index: 3;

    @media (min-width: 992px) {
        display: block;
        width: 680px;
        height: 815px;
        position: absolute;
        right: 0;
        top: 0;
    }

    @media (min-width: 1400px) {
        width: 785px;
        height: 990px;
        top: -70px;
    }

    .image {
        width: 100%;
        height: 100%;
        position: relative !important;
        object-fit: inherit; // Optional
        box-shadow: 4px -7px 20px rgba(0, 0, 0, 0.25);
    }
}



.market-partners-section {
    margin-bottom: 3em;
    margin-top: 3em;

    @media (min-width: 992px) {
        margin-bottom: 5em;
        margin-top: 5em;
        padding-left: 10em !important;
        padding-right: 10em !important;
    }

    padding-top: 4em;
    padding-bottom: 4em;
    background-color: #F6F7FB;

    &_maintitle {
        margin-bottom: 2em;

        h3 {
            color: #232C61;
            font-size: 1.8rem;

            font-weight: 700;
        }

        p {
            color: #404041;
            font-size: 1.6rem;
        }
    }

    &_div {
        text-align: center;
        margin-bottom: 1.5em;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }

    &_title {
        color: #404041;
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: 2px;

        @media (min-width: 992px) {
            font-size: 1.35rem;

        }
    }

    &_parraf {
        color: #404041;
        font-size: .75em;

        @media (min-width: 992px) {
            font-size: 1.1rem;

        }
    }

    &_arrow {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 35px;
        width: 60px;
        padding-top: 15px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    }
}


.modern-partners-section {
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
        margin-top: 5em;
    }

    margin-top: 3em;
    margin-bottom: 3em;

    &_maintitle {
        h3 {
            color: #404041;
            font-size: 1.7rem;

            @media (min-width: 992px) {
                font-size: 2.3rem;
            }

            b {
                color: #232C61;
            }

            @media (min-width: 992px) {
                margin-bottom: 2em;
                margin-top: 1em;
            }
        }

    }

    &_feature {
        @media (min-width: 992px) {
            width: 27% !important;
            margin-right: 2.5%;
            margin-left: 2.5%;
        }

        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 1em;
        margin-top: 2em !important;

        &-img {
            background-color: #F6F7FB;
            padding: 1.2em 1em;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        &-text {
            background-color: #F6F7FB;
            padding: 1.2em 1em;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            color: #232C61;
            min-height: 150px;
            @media (min-width: 992px) {
                min-height: 150px;
            }

            h5 {
                margin-bottom: 0;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    &_title {
        color: #2C89E1;
        font-weight: 600;
        font-size: 1.8rem;
    }

}

.lineSteps-partners {
    width: 4px;
    background-color: #2F9FEE;
    height: 245px;
    display: block;
    position: absolute;
    top: 20%;
    left: 46px;
}

.textTitle {
    font-size: 2rem;
    color: #2F9FEE;
    span {
        color: #232C61;
    }
}

.setps-tabs_citas_content-nav .textStep {
    max-width: 340px;
}

.specialCol {
    position: absolute;
    left: 0;
    max-width: 480px !important;
    padding: 0 !important;
    top: -45px;
}

.bkgrey {
    background-color: #F6F7FB;
}