.posts-slider {
    background-color: #F6F7FB;
    margin-top: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
    &_swipper {
        height: 340px;
        @media (min-width: 992px) {
            height: 360px;
        }
    }
    &_title {
        margin-bottom: 2em;
        color: #404041;
        white-space: pre-line;
        b {
            color: #072D89;
        }
    }
    &_content {
        height: 300px;
        @media (min-width: 992px) {
            height: 500px;
        }
        display: flex;
        align-items: flex-end;
        @media (min-width: 992px) {
            height: 320px;  
        }
        &-post {
            @media (min-width: 992px) {
                width: 50%;
                height: 100%;
            }
            display: flex;
            width: 100%;
            height: 100%;
            background: rgb(6 100 166 / 81%);
            align-items: center;
            padding: 1.5em;
            h1 {
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
                
            }
            a {
                color: #232C61;
                background-color: #fff;
                text-decoration: none;
                padding: .5em 1.4em;
                display: inline-block;
                font-weight: 800;
                border-radius: 25px;
                margin-top: 1em;
            }
        }
    }
}

.banca_post {
    background-color: rgb(23 62 163 / 89%);
}

.salud_post {
    background-color: rgb(105 184 239 / 89%)
}

.gobierno_post {
    background-color: rgb(88 38 231 / 89%);
}

.retail_post {
    background-color: rgb(245 135 0 / 89%);
}

.telcos_post {
    background-color: rgb(27 140 244 / 89%);
}

.utilities_post {
    background-color: rgb(134 190 85 / 89%);
}

.noGrey {
    background-color: transparent !important;
}