.review-section {
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
    }
    margin-top: 4em;
    margin-bottom: 4em;
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #F6F7FB;
    h3 {
        color: #2F9FEE;
        font-size: 2.4rem;
        font-weight: 700;
        span {
            color: #232C61;
        }
    }
}