.review-section {
    position: relative;
    
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
        // margin-top: 4em;
        margin-bottom: 4em;
        padding-top: 5em;
        padding-bottom: 5em;
    }
    // margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #F6F7FB;
    &_slider {
        box-shadow: 0px 4px 37px -3px #dfdfdf;
        padding: 0;
        border-radius: 30px;
        padding: 0 !important;
        
        @media (min-width: 992px) {
            height: 370px;
            margin-top: -8em !important;
        }
    }
    h3 {
        @media (min-width: 992px) {
            
            margin-top: 1em;
            text-align: left;
        }
        color: #2F9FEE;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1em;
        span {
            color: #232C61;
        }
    }
    &_slidersection {
        background-color: #fff;
        width: 100%;
        height: auto;
        height: 370px;
        @media (min-width: 992px) {
            height: 370px;
        }
        // box-shadow: 0px 4px 37px -3px #DFDFDF;
        border-radius: 30px;
        &-person {
            position: relative;
            width: 180px;
            height: 230px;
            z-index: 1;
            padding-top: 1em;
            margin: 0 auto;
            @media (min-width: 992px) {
                position: absolute;
                width: 180px;
                height: 150px;
                z-index: 1;
                padding-top: 1em;
                padding-left: 1em;
            }
        }
        &-client {
            max-width: 80px !important;
            padding-top: 1em;
            padding-bottom: 1em;
            &-parraf {
                font-size: .8rem;
                margin-top: .5em;

            }
            &-name {
                color: #232C61;
                font-weight: 700;
                font-size: 1.3rem;
            }
            &-work {
                color: #2C89E1;
                font-size: .9rem;
            }
        }
        &-brand {
            @media (min-width: 992px) {
                width: 100%;
            max-width: 50px;
            position: absolute;
            left: 75px;
            bottom: 15%;
            }
            width: 100%;
            max-width: 50px;
            position: relative;
            margin: 0 auto;
        }
        &-text {
            text-align: left;
            position: relative;
            right: 5px;
            margin-top: 1em;
            padding: 1em 1.2em;
            @media (min-width: 992px) {
                text-align: left;
            width: 390px;
            position: absolute;
            right: 5px;
            margin-top: 5em;
            padding: 0 1.2em;
            }
            h4 {
                color: #232C61;
                font-weight: 700;
            }
            span {
                color: #2C89E1;
                margin-bottom: 1.2em;
                display: block;
            }
            p {
                color: #404041;
            }
        }
    }
}

.quote1 {
    position: absolute;
    left: -20px;
    width: 20px;
    top: 60px;
}

.quote2 {
    position: absolute;
    right: 5px;
    bottom: 10px;
    width: 15px;
}

.iconReview {
    font-size: 1.4rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    &_prev {
        background-color: #2F9FEE;
        color: #fff;
    }
    &_next {
        background-color: #232C61;
        color: #fff;
    }
}

.logoCliente{ 
    max-height: 50px !important;
}