.solutions-indus-top {
    margin-bottom: 5em;
}


.solutions-indus-clients {
    margin-top: 5em;
    margin-bottom: 5em;
}

.solutions-indus-section {
    margin-top: 2em;
    background-color: #232C61;
    // border-top-left-radius: 30px;
    // border-top-right-radius: 30px;
    padding-bottom: 1em;

    @media (min-width: 992px) {
        background-color: #F6F7FB;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 3em;

    }

    &_maintitle {
        h3 {
            color: #132A67;
            font-size: 1.9rem;
            margin-bottom: 1.5em;
        }
    }

    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
    }

    &_div {
        text-align: center;

        &-img {
            margin-top: 1em;
            margin-bottom: 20px;
            margin-top: -30%;

            @media (min-width: 992px) {
                margin-top: -15%;
            }
        }
    }

    &_title {
        color: #fff;
        font-weight: 600;
        font-size: .9rem;

        @media (min-width: 992px) {
            font-size: 1.3rem;
            color: #232C61;
        }

    }

    p {
        color: #fff;
        font-size: .9rem;

        @media (min-width: 992px) {
            color: #404041;
            font-size: 1rem;
        }
    }
}

.solutions-indus-tabs {
    @media (min-width: 992px) {
        padding-left: 10em !important;
        padding-right: 10em !important;
        max-height: 675px;
        border-bottom-left-radius: 90px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
    }

    z-index: 1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #F6F7FB;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 3em;


    &_title {
        margin-bottom: 2em;
        color: #404041;
        text-align: center;

        b {
            color: #232C61;
        }
    }

    &_content {
        margin-top: 2em !important;

        &-borde {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        &-nav {
            color: #9195b0 !important;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            cursor: pointer;
        }

        &-img {
            @media (min-width: 992px) {
                margin-top: -55px !important;
            }
        }

        &-text {
            margin-top: 2em !important;
            margin-bottom: 2em;
            text-align: center;

            p {
                color: #fff;
                font-size: 1.2rem;
            }

            button {
                color: #404041;
                font-weight: 700;
                border: 0;
                background-color: #fff;
                padding: 0.4em 1.5em;
                border-radius: 20px;
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }


        &-title {
            h2 {
                margin-top: 2.5em;
                color: #404041;
                font-weight: 400;
                font-size: 1em;

                @media (min-width: 992px) {
                    font-size: 1.4em;
                    color: #fff;
                }

                b {
                    @media (min-width: 992px) {
                        color: #2F9FEE;
                        font-weight: 600;
                        font-size: 1.7rem
                    }

                    color: #2F9FEE;
                    font-weight: 500;
                }
            }
        }
    }
}

.solutions-indus-tabs_content-nav.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%232F9FEE' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
    width: 200px;
    height: 200px;
}

.bi-caret-right-fill {
    color: #29336F;
}

.solutions-indus-accordion {
    z-index: 1;
    margin-bottom: 2em;
    padding-bottom: 2em;
    padding-top: 3em;

    &_title {
        margin-bottom: 2em;
        color: #fff;
        text-align: center;

        b {
            color: #2F9FEE;
        }
    }

    &_content {
        margin-top: 2em !important;

        &-nav {
            color: #9195b0 !important;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            cursor: pointer;
        }

        &-title {
            h2 {
                margin-top: 2.5em;
                color: #fff;
                font-weight: 200;
                font-size: 1.7rem;

                b {
                    color: #2F9FEE;
                    font-weight: 500;
                    font-size: 2rem
                }
            }
        }
    }
}

.accordion {
    border: 0;
}

button.accordion-button.collapsed {
    background: #29336F;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    border-radius: 10px !important;
    color: #fff !important;
    text-align: center;
    font-weight: 600;
    padding: 1.5rem 1.25rem !important;
    margin-bottom: 10px;
}

.solutions-indus-accordion_content-nav.accordion-item {
    margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
    color: #0c63e4 !important;
    background-color: #F6F7FB !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

button.accordion-button {
    color: #2F9FEE !important;
    font-weight: 700;
}

.accordion-item {
    border: 0 !important;
    background-color: transparent !important;
}

.solutions-indus-accordion_content-nav.accordion-item {
    border: 0;
}

.accordion-body {
    background-color: #f6f7fb;
}



.solutions-indus-tabs_content-nav.active {
    background-color: transparent !important;
    color: #2F9FEE !important;
    font-size: 1.6rem;
    font-weight: 600;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


.solutions-tabs_content-nav.banca.active {
    color: #173EA3 !important;
}

.solutions-tabs_content-nav.banca.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23173EA3' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !important;
}


.solutions-tabs_content-nav.salud.active {
    color: #69B8EF !important;
}

.solutions-tabs_content-nav.salud.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%2369B8EF' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !important;
}

.solutions-tabs_content-nav.gobierno.active {
    color: #5826E7 !important;
}

.solutions-tabs_content-nav.gobierno.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%235826E7' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !important;
}

.solutions-tabs_content-nav.retail.active {
    color: #F48700 !important;
}

.solutions-tabs_content-nav.retail.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23F48700' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !important;
}

.solutions-tabs_content-nav.telcos.active {
    color: #1B8CF4 !important;
}

.solutions-tabs_content-nav.telcos.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%231B8CF4' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !important;
}

.solutions-tabs_content-nav.utilities.active {
    color: #86BE55 !important;
}

.solutions-tabs_content-nav.utilities.active::after {
    content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%2386BE55' class='bi bi-caret-right-fill' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !important;
}

.solutions-accordion_content-nav.banca.accordion-item button {
    background-color: #173EA3;
}

.solutions-accordion_content-nav.salud.accordion-item button {
    background-color: #69B8EF;
}

.solutions-accordion_content-nav.gobierno.accordion-item button {
    background-color: #5826E7;
}

.solutions-accordion_content-nav.retail.accordion-item button {
    background-color: #F48700;
}

.solutions-accordion_content-nav.telcos.accordion-item button {
    background-color: #1B8CF4;
}

.solutions-accordion_content-nav.utilities.accordion-item button {
    background-color: #86BE55;
}

.solutions-tabs_content-title button {
    color: #fff;
    font-weight: 700;
    border: 0;
    background-color: #fff;
    padding: 0.4em 1.5em;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}